<h2>Life Insurance Smart Contract</h2>

<p>This contract is managed by {{ manager }}</p>
<p>The beneficiaries of this Life Insurance policy are:</p>
<li> {{beneficiaries[0]}}</li>
<li> {{beneficiaries[1]}}</li>

<hr>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <form (ngSubmit)="onEnter(f)" #f="ngForm">
                <div id="user-data">
                    <div class="form-group">
                        <label for="amount">Amount of Ethereum in this Smart Contract = {{balance}} Ether</label>
                        <input 
                        type="text"
                        id="amount"
                        class="form-control"
                        ngModel
                        name="amount">
                    </div>
                    <div>
                        <button [disabled]="isLoading" class="btn btn-primary" type="submit" style='margin-right:16px'>
                            <img *ngIf="isLoading" width="20px" src="../../assets/img/spinner.gif"/> Enter Amount</button>
                        <button [disabled]="isLoading" class="btn btn-default" type="button" style='margin-right:16px' (click)="payBeneficiaries()">
                            <img *ngIf="isLoading" width="20px" src="../../assets/img/spinner.gif"/> Pay Beneficiaries</button>
                    </div> <br>
                    <div *ngIf="isSuccess" class="alert alert-success">
                        <strong>Success!</strong> Ethereum has been entered into the life insurance smart contract. 
                      </div>
                </div>
            </form>
        </div>
    </div>
</div>

