<h2>Death Report Contract</h2>

<p>This contract is managed by {{ manager }} </p>

<hr>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                <div id="user-data">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input 
                        type="text"
                        id="name"
                        class="form-control"
                        ngModel
                        name="name">
                    </div>
                    <div class="form-group">
                        <label for="date-of-death">Date of death</label>
                        <input 
                        type="text"
                        id="date-of-death"
                        class="form-control"
                        ngModel
                        name="date-of-death">
                    </div>
                    <div class="form-group">
                        <label for="time-of-death">Time of death</label>
                        <input 
                        type="text"
                        id="time-of-death"
                        class="form-control"
                        ngModel
                        name="time-of-death">
                    </div>
                    <div class="form-group">
                        <label for="place-of-death">Place of death (name of facility or location)</label>
                        <input 
                        type="text"
                        id="place-of-death"
                        class="form-control"
                        ngModel
                        name="place-of-death">
                    </div>
                    <div class="form-group">
                        <label for="city">City</label>
                        <input 
                        type="text"
                        id="city"
                        class="form-control"
                        ngModel
                        name="city">
                    </div>
                    <div class="form-group">
                        <label for="postal-code">Postal code</label>
                        <input 
                        type="text"
                        id="postal-code"
                        class="form-control"
                        ngModel
                        name="postal-code">
                    </div>
                    <div class="form-group">
                        <label for="name">Medical cause of death</label>
                        <input 
                        type="text"
                        id="medical-cause-of-death"
                        class="form-control"
                        ngModel
                        name="medical-cause-of-death">
                    </div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>